.area {
    width: 70%;
    margin: 1% 0% 5%;
    padding: 2% 5%;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.area h2 {
    font-weight: 200;
    border-bottom: 1px solid #ddd;
}

.area p {
    border: none !important;
    text-align: start  !important;
    padding: 1% 0% !important;
}

.area:hover {
    transform:  scale(1.1);
    transition: 0.3s;
}

.area img {
    width: 100%;
    max-width: 200px; /* Ensures images don't exceed this width */
    height: 150px; /* Set a fixed height */
    object-fit: cover; /* Ensures the image fills the space without distortion */
    border-radius: 10px;
    display: block;
    margin: 10px auto;
}