.list-species {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

.list-species h1 {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    font-weight: 200;
    font-size: 40px;
}

.list-species .dropdown {
    padding: 1% 0%;
}

.list-species .dropdown button{
    position: relative;
    left: 80%;
    border: 1px solid #ddd;
    color: black;
}

.list-species .dropdown .btn.show {
    background-color: #f2eaea;
}

.list-species .dropdown .btn:active {
    border-color: #ddd;
    background-color: #f2eaea;
}

.list-species .dropdown-item:active {
    background-color: #ddd;
}

.list-species p {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 2% 0%;
    text-align: justify;
    justify-self: center;
    width: 80%;
}


.list-species section {
    margin: 1% 5%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
}

