
.navbar .navbar-element {
    padding: 0% 3%;
}

.navbar .navbar-element:last-child {
    padding: 0%;
}

.navbar button {
    border: none;
    background-color: transparent;
}

.navbar a {
    text-decoration: none;
}