.navbar .navbar-brand a {
    color: black;
}

.navbar .navbar-element {
    padding: 0% 2%;
}

.navbar .navbar-element:last-child {
    padding: 0%;
    padding-left: 2%;
}

.navbar button {
    border: none;
    background-color: transparent;
}

.navbar a {
    text-decoration: none;
}