
.navbar ul{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ddd;
    list-style: none;
}

.navbar a{
    padding: 5%;
    display: flex;
    height: 80%;
    width: 100%;
    text-decoration: none;
    color: black;
}
