.modal-header .modal-title{
    font-weight: 200;
    font-size: 30px;
    padding-left: 2%;
}

.modal-body img{
    position: relative;
    left: 5%;
    width: 90%;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 1% 0%;
}

.modal-body p {
    padding-left: 5%;
    padding-right: 5%;
}

.modal-body .species-list .speciesList-title{
    text-align: center;
    font-size: large;
    margin-top: 5%;
    font-weight: 450;
}

.modal-footer button {
    color: black;
    background-color: #f2eaea;
    border-color: #ddd;
}

.modal-footer button:hover {
    color: white;
    background-color: #d3c4c4;
    border-color: #ddd;
}

.modal-footer button:active {
    color: black;
    background-color: #f2eaea;
    border-color: #ddd;
}