.comments {
    padding-right: 3%;
    padding-left: 3%;
}

.stars-rating {
    margin-top: 5%;
    margin-bottom: 1%;
    display: flex;
    justify-content: start;
}

.stars-rating p, .registered-comment p {
    padding-left: 0 !important;
}

.comments-form {
    display: flex;
    gap: 20px;
}

.comments-form button {
    background-color: #f2eaea;
    color: black;
    border-color: #ddd;
}

.comments-form button:hover {
    background-color: #fff;
    border-color: #ddd;
    color: black;
}