.profile-section {
    margin: 2%;
}

.profile-section .profile-title {
    font-weight: 200;
    font-size: 45px;
    position: relative;
    left: 8%;
    margin-bottom: 4%;
}

.profile-section .profile-subtitle {
    font-weight: 300;
    font-size: 25px;
    position: relative;
    left: 8%;
    margin-bottom: 3%;
    width: fit-content;
}

.profile-arealist {
    box-sizing: border-box;
    margin: 3%;
}   

.profile-arealist .profile-text{
    margin-bottom: 3%;
    margin-left: 7%;    
    font-size: large;
}